# DB
POSTGRES_DB=job_map_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_RIGHTFUL_USER=admin
POSTGRES_RIGHTFUL_PASSWORD=password


# Django
DJANGO_SECRET_KEY=django_secret_key
DJANGO_DEBUG=True
POSTGRES_DJANGO_USER=django_db_control
POSTGRES_DJANGO_PASSWORD=django_db_password


# QGIS
POSTGRES_QGIS_USER=qgis_db_control
POSTGRES_QGIS_PASSWORD=qgis_db_password


# Bot
TELEGRAM_BOT_TOKEN=telegram_token
POSTGRES_BOT_USER=bot_db_control
POSTGRES_BOT_PASSWORD=bot_db_password
