# --- Telegram Bot Framework ---
aiogram>=3.17.0

# --- Database & Async Drivers ---
SQLAlchemy>=2.0.35
GeoAlchemy2>=0.15.0
asyncpg>=0.30.0

# --- Geometry & GIS Core ---
shapely>=2.0.6
geopy>=2.4.1

# --- Configuration & Environment ---
pydantic-settings>=2.4.0
python-dotenv>=1.0.1

# --- Logging & Performance (Optional but recommended) ---
uvloop>=0.21.0; sys_platform != 'win32'

# --- Network ---
aiohttp-socks>=0.11.0
urllib3>=2.6.3

# --- Django ---
django>=5.2.15
djangorestframework>=3.17.1

# --- Leaflet ---
leaflet>=0.0.3
